.ag-chart-tooltip {
    position: absolute;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 99999;
    border: 1px solid gray;
    font: 12px Verdana, sans-serif;
    padding: 7px;
    color: black;
    background: rgba(244, 244, 244, 0.9);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.ag-chart-tooltip .title {
    font-weight: bold;
}

.my-tooltip {
    border: 5px solid gray;
    font: 16px Verdana, sans-serif;
}
