.ag-chart-tooltip {
    display: table;
    position: absolute;
    user-select: none;
    pointer-events: none;
    max-width: 300px;
    word-wrap: break-spaces;
    z-index: 99999;
    font: 12px Verdana, sans-serif;
    color: black;
    background: rgb(244, 244, 244);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(3, 3, 3, 0.7), 0.5vh 0.5vh 1vh rgba(3, 3, 3, 0.25);

    opacity: 0;
    transform: scale(0.90);
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: opacity, transform;
}

.ag-chart-tooltip.visible {
    opacity: 1;
    transform: scale(1);
}

.ag-chart-tooltip .title {
    font-weight: bold;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: #888888;
}

.ag-chart-tooltip .content {
    padding: 7px;
}

.my-tooltip {
    font: 16px Verdana, sans-serif;
}

.my-tooltip .title {
    background-color: #af20ef;
}
